/* BUILDGIFT SECTION */
.buildgift {
  padding: 60px 40px;
  text-align: center;
}

.buildgift h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #222;
}

.buildgift-subtitle {
  color: #777;
  font-size: 16px;
  margin: 0 0 35px;
  margin-bottom: 20px;
}

.search-bar {
  position: relative;
  width: 40%;
  text-align: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.search-bar input {
  width: 50%;
  padding: 10px 50px;
  border: 1px solid #f999aa;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.search-bar input:focus {
  border-color: #f5143e;
}

.search-icon {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4d6d;
  transition: 0.3s;
}

.clear-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.search-bar:hover .clear-icon {
  color: #ff4d6d;
}

.no-results {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: #777;
  line-height: 1.6;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
  transition: 0.3s;
}

.wishlist-icon svg {
  color: #ff4d6d;
}

.wishlist-icon:hover {
  transform: scale(1.1);
}

.wishlist-page {
  padding: 20px;
}

.wishlist-item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.wishlist-item img {
  width: 80px;
}

.category-filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.category-filter button {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #ff4d6d;
  background: white;
  color: #ff4d6d;
  cursor: pointer;
  transition: 0.3s;
}

.category-filter button.active {
  background: #ff4d6d;
  color: white;
}

.buildgift-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  max-width: 1100px;
  margin: 0 auto 40px;
}

.buildgift-card {
  position: relative;
  background: rgb(255, 243, 245);
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  border: 1px solid #eee;
  transition: 0.3s;
}

.buildgift-card:hover {
  transform: translateY(-5px);
}

.buildgift-img {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buildgift-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.buildgift-card h3 {
  margin: 10px 0 5px;
  margin-bottom: 10px;
}

.buildgift-card p {
  color: #ff4d6d;
  font-weight: 600;
}

.card-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

.select-btn {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 14px;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 6px;
  border: 0.5px solid #fc0734;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.selected {
  border: 1px solid #ff4d6d;
  box-shadow: 8px 8px 20px rgba(253, 160, 177, 0.45);
}

.view-btn {
  margin-top: 10px;
  width: 40%;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 0.5px solid #fc0734;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  transform: translateY(-2px);
  color: black;
  box-shadow: 8px 8px 20px rgba(249, 167, 182, 0.45);
}

/* SELECTED PAGE */
.selected-page {
  padding: 60px 20px;
  text-align: center;
}

.selected-page h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.selected-subtitle {
  margin-bottom: 30px;
  color: #666;
}

.selected-empty {
  text-align: center;
  margin-top: 40px;
}

.selected-emptyImg {
  width: 220px;
  opacity: 0.8;
}

.selectedEmpty-text {
  margin: 15px 0;
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.start-btn {
  padding: 10px 18px;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.start-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.selected-container {
  max-width: 500px;
  margin: auto;
}

.selected-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #f9b0b0;
}

.selected-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.selected-details {
  flex: 1;
  margin-left: 15px;
  text-align: left;
}

.selected-info {
  text-align: left;
}

.selected-details h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

.selected-details .price {
  margin: 4px 0;
  color: #ff4d6d;
  font-weight: 600;
}

.qty-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  border-radius: 4px;
  width: 90px;
  justify-content: center;
  padding: 6px 14px;
  margin-top: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
}

.qty-wrapper:hover {
  border-color: #ff4d6d;
}

.qty-wrapper select {
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
}

.selectRemove-btn {
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  padding: 8px 12px;
  margin-right: 20px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.selectRemove-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.selected-actions {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.add-cart-btn {
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.add-cart-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.total-card h3 {
  margin-bottom: 20px;
}

.checkout-btn {
  padding: 10px 20px;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  cursor: pointer;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.checkout-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

/* WISHLIST PAGE */
.wishlist-page {
  padding: 30px;
  max-width: 500px;
  margin: auto;
}

.wishlist-title {
  text-align: center;
  margin-top: 40px;
  font-size: 28px;
  position: relative;
  margin-bottom: 25px;
}

.wishlist-title::after {
  content: "";
  width: 80px;
  bottom: -8px;
  height: 2px;
  background: #ff4d6d;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.wishlist-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.heart-icon {
  width: 25px;
  height: 20px;
  color: #ff4d6d;
  transition: transform 0.3s ease;
}

.gift-icon {
  color: #ff4d6d;
  transition: transform 0.3s ease;
}

.heart-icon:hover {
  animation: shake 0.4s ease;
  transform: scale(1.1);
}

.gift-icon:hover {
  animation: shake 0.4s ease;
  transform: scale(1.1);
}

.empty-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-text {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.emptywishlist-img {
  width: 180px;
  animation: float 2s ease-in-out infinite;
}

.start-shopping-btn {
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(145deg, #ff4d6d, #ff8fa3);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
  transition: 0.3s;
}

.start-shopping-btn:hover {
  transform: translateY(-2px);
  color: black;
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.wishlist-card {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.wishlist-img img {
  width: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.wishlist-details {
  flex: 1;
}

.wishlist-details h3 {
  margin: 0;
  margin-bottom: 20px;
}

.wishlist-details p {
  margin: 8px 0;
  font-weight: bold;
  color: #ff4d4d;
  margin-bottom: 20px;
}

.wishlist-actions {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.wishlist-total-box {
  display: flex;
  justify-content: flex-end;
}

.wishlist-total-text {
  font-size: 18px;
  font-weight: 600;
  color: #ff4d4d;
}

/* LOGIN PAGE */
.auth-container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-icon {
  width: 20px;
  height: 20px;
  color: #ff4d6d;
}

.auth-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.auth-subtitle {
  color: #666;
  margin-bottom: 25px;
  text-align: center;
}

.auth-card {
  background: #fff3f3;
  border: 1px solid #fccfcf;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 30px;
  width: 100%;
  max-width: 420px;
}

.auth-card input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

.auth-card input:focus {
  outline: none;
  border: 1px solid #ff4d6d;
}

.password-box {
  position: relative;
  width: 100%;
}

.password-box input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ff4d6d;
}

.auth-card button {
  width: 40%;
  font-size: 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  margin-top: 10px;
  padding: 9px;
  cursor: pointer;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  border: 0.5px solid #fc0734;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.auth-card button:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

/* OR DIVIDER */
.auth-divider {
  text-align: center;
  margin: 15px 0;
  position: relative;
  margin-top: 40px;
}

.auth-divider span {
  padding: 0 10px;
  color: black;
  font-size: 14px;
}

.auth-divider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  z-index: -1;
}

/* SOCIAL LOGIN */
.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff0f3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 6px 15px rgba(255, 77, 109, 0.3);
}

.social-btn img {
  width: 22px;
}

.social-btn.facebook {
  color: #1877f2;
}

.social-btn.apple {
  color: #000;
}

.social-btn:hover {
  transform: translateY(-5px);
}

.auth-error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 0;
}

.auth-switch {
  margin-top: 50px;
  text-align: center;
}

.auth-switch span {
  color: #ff4d6d;
  cursor: pointer;
  font-weight: 600;
}

/* SIGNUP PAGE */
.signup-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.signup-subtitle {
  margin-top: 15px;
  color: #666;
  margin-bottom: 35px;
  text-align: center;
}

.signup-password {
  position: relative;
  width: 100%;
}

.signup-eye {
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ff4d6d;
}

.auth-success {
  color: green;
  margin: 10px 0;
  font-size: 14px;
}