body {
  position: relative;
  overflow-x: hidden;
  padding-top: 70px; /* adjust based on navbar height */
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #f73051 #e0e0e0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f71215, #ed2222);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f82121, #c20d0d);
}

.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 9999; /* increase */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* Navbar Section */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 45px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  color: #222;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo-icon {
  color: #ff4d6d;
  transition: transform 0.3s ease;
}

.logo:hover .logo-icon {
  animation: shake 0.4s ease;
  transform: scale(1.1);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.links {
  display: flex;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  transition: 0.3s;
}

.links a:hover {
  color: #ff4d6d;
}

.links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #ff4d6d;
  transition: 0.3s;
}

.links a:hover::after {
  width: 100%;
}

.links a.active {
  color: #ff4d6d;
}

.links a.active::after {
  width: 0%;
}

.user-name {
  margin-right: 10px;
  font-weight: 500;
  color: #ff4d6d;
}

.profile-dropdown {
  position: relative;
}

.profile-trigger {
  cursor: pointer;
  color: #333;
  font-size: 16px;
  transition: 0.3s;
}

.profile-trigger:hover {
  color: #ff4d6d;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.dropdown-menu div {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown-menu div:hover {
  color: #ff4d6d;
}

.logout-item {
  color: #ff4d6d;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Home Page Section */
.home {
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  padding: 60px 0;
  margin-right: 0;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 0 40px;
}

.hero-text {
  flex: 1;
  max-width: 650px;
}

.hero-text h1 {
  font-size: 34px;
  color: #222;
  margin-bottom: 15px;
}

.hero-icon {
  color: #ff4d6d;
  transition: transform 0.3s ease;
}

.hero-icon:hover {
  animation: shake 0.4s ease;
  transform: scale(1.1);
}

.hero-text p {
  font-size: 19px;
  color: #555;
  margin-bottom: 25px;
}

.hero-btn {
  padding: 12px 28px;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.hero-btn:hover {
  transform: translateY(-3px);
  color: black;
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.hero-btn:active {
  transform: scale(0.97);
  box-shadow:
    inset 3px 3px 8px rgba(255, 77, 109, 0.4),
    inset -3px -3px 8px rgba(255, 255, 255, 0.7);
}

.hero-image {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 12px;
  left: 0;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  transition: all 0.4s ease;
}

.hero-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(255, 77, 109, 0.3);
}

.image-label {
  position: absolute;
  top: 50px;
  right: 55%;
  transform: translateX(-50%);
  padding: 8px 18px;
  background: linear-gradient(145deg, #ff4d6d, #ff8fa3);
  color: white;
  border: 0.5px solid #f10c36;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.3s ease;
}

.hero-image:hover .image-label {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

/* FEATURES SECTION */
.features {
  padding: 60px 40px;
  text-align: center;
  margin-top: 60px;
  background: #fff5f7;
  border-radius: 20px;
}

.features-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #222;
  position: relative;
  display: inline-block;
}

.features-title::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #ff4d6d;
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
}

.why-subtitle {
  color: #777;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.feature-card {
  width: 350px;
  padding: 25px;
  background: #fff;
  border-radius: 15px;
  border: 0.5px solid #f8d4da;
  cursor: pointer;
  box-shadow:
    5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.2),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.feature-card h3 {
  margin-bottom: 6px;
  color: #ff4d6d;
}

.feature-card p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

.feature-icon {
  font-size: 30px;
  color: #ff4d6d;
  margin-bottom: 8px;
}

/* PRODUCTS SECTION */
.products {
  margin-top: 60px;
  padding: 60px 40px;
  text-align: center;
  background: #f8f9fb;
  border-radius: 20px;
  width: 100%;
}

.products-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #222;
  position: relative;
  display: inline-block;
}

.products-title::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #ff4d6d;
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
}

.popular-subtitle {
  color: #777;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.products-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.product-card {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  background: rgb(255, 243, 245);
  border-radius: 15px;
  border: 0.5px solid #f8d4da;
  text-align: center;
  cursor: pointer;
  box-shadow:
    5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.2),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.product-img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.product-img-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-card h3 {
  margin: 10px 0;
  color: #222;
}

.product-card p {
  color: #ff4d6d;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.product-card button {
  padding: 8px 15px;
  background: linear-gradient(145deg, #ff4d6d, #ff8fa3);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    4px 4px 10px rgba(255, 77, 109, 0.3),
    -4px -4px 10px rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}

.product-card button:active {
  transform: scale(0.95);
}

.product-card button:hover {
  transform: translateY(-2px);
  color: black;
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

/* FOOTER SECTION */
.footer {
  background: linear-gradient(135deg, #ffe4e9, #fddfe4);
  color: #333;
  padding: 40px 60px;
  border-radius: 8px;
  border: 1px solid #ffbeca;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-desc {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  max-width: 280px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.newsletter {
  display: flex;
  gap: 10px;
}

.newsletter input {
  padding: 8px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 220px;
}

.newsletter input:focus {
  border: 1px solid #ff4d6d;
}

.newsletter button {
  padding: 8px 14px;
  cursor: pointer;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.newsletter button:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.toast {
  font-size: 13px;
  margin-top: 0;
  color: #ff1e4d;
  font-weight: 500;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-socials {
  display: flex;
  gap: 15px;
}

.social-item {
  position: relative;
  width: 30px;
  height: 30px;
  background: #ff4d4d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.social-item svg {
  font-size: 18px;
}

.social-item span {
  position: absolute;
  bottom: -30px;
  background: #ff4d4d;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s;
  white-space: nowrap;
}

.social-item:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 8px 20px rgba(255, 77, 77, 0.5);
}

.social-item:hover span {
  opacity: 1;
  transform: translateY(0);
}

.footer-right {
  font-size: 14px;
  color: #444;
  margin-right: 60px;
}

.back-to-top {
  position: fixed;
  width: 35px;
  height: 35px;
  right: 25px;
  bottom: 25px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: linear-gradient(135deg, #ff4d6d, #f58598);
  color: black;
  z-index: 999;
  border: 1.5px solid #ff1e4d;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  transform: scale(1.1);
  background: linear-gradient(135deg, #f5647f, #f73051);
}

.arrow-btn {
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-bottom: 16px;
}

/* CARTPAGE SECTION */
.cart {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
  margin-top: 30px;
}

.cart-container {
  max-width: 500px;
  margin: 0 auto;
}

.empty-cart {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-img {
  width: 280px;
  margin-bottom: 20px;
}

.empty-cart h2 {
  margin-bottom: 10px;
  color: #222;
}

.empty-cart p {
  color: #999;
  font-size: 17px;
  margin-bottom: 20px;
}

.shop-btn {
  padding: 10px 20px;
  background: linear-gradient(145deg, #ff4d6d, #ff8fa3);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.shop-btn:hover {
  transform: translateY(-2px);
  color: black;
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 40px;
}

.cart-details {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-details .price {
  color: #ff4d6d;
  font-weight: 600;
  margin-top: 10px;
}

.cart-item {
  width: 100%;
  max-width: 850px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-left {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-left img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.qty-box {
  position: relative;
  display: inline-block;
}

.qty-btn {
  padding: 6px 14px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 40px;
}

.qty-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.qty-btn:hover {
  border-color: #ff4d6d;
}

.qty-box:hover .qty-btn {
  border-color: #ff4d6d;
}

.stars {
  display: flex;
  gap: 3px;
  color: green;
  margin: 5px 0;
  margin-top: 10px;
}

.cart-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.remove-btn {
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.remove-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.remove-btn:active {
  transform: scale(0.97);
  box-shadow:
    inset 3px 3px 8px rgba(255, 77, 109, 0.4),
    inset -3px -3px 8px rgba(255, 255, 255, 0.7);
}

.buy-btn {
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.buy-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.cart-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 5px;
}

.cart-total h3 {
  margin: 0;
}

.checkout-btn {
  padding: 10px 20px;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  cursor: pointer;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.checkout-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

/* CHECKOUT PAGE */
.checkout {
  padding: 40px 20px;
}

.checkout-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

.checkout-form {
  width: 50%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-form h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}

.checkout-form h2::after {
  content: "";
  width: 15%;
  height: 2px;
  background: #ff4d6d;
  position: absolute;
  left: 50%;
  bottom: -9px;
  transform: translateX(-50%);
}

.checkout-form input,
.checkout-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.3s;
}

.checkout-form input:focus,
.checkout-form textarea:focus {
  outline: none;
  border: 1px solid #ff4d6d;
}

.place-order-btn {
  width: 30%;
  font-size: 15px;
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  cursor: pointer;
  box-shadow:
    6px 6px 15px rgba(255, 77, 109, 0.35),
    -6px -6px 15px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.place-order-btn:hover {
  color: black;
  transform: translateY(-3px);
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.summary-title {
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}

.summary-title::after {
  content: "";
  width: 20%;
  height: 2px;
  background: #ff4d6d;
  position: absolute;
  left: 50%;
  bottom: -9px;
  transform: translateX(-50%);
}

.checkout-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  width: 350px;
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.summary-divider {
  border-bottom: 1.5px solid #fce0e0;
  margin: 15px 0;
  margin-bottom: 0;
}

.summary-total {
  text-align: end;
  margin-bottom: 0;
}

.payment-title {
  text-align: start;
  margin: 10px;
}

.payment-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.payment-option input {
  margin: 0;
}

.payment-section h3 {
  margin-bottom: 5px;
}

.payment-section label {
  font-size: 14px;
  cursor: pointer;
}

.payment-section input {
  margin-right: 8px;
}

.payment-input {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 90%;
  margin: 10px auto 0;
  display: block;
  padding: 10px;
}

.payment-input:focus {
  outline: none;
  border: 1px solid #ff4d6d;
}

.card-fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.loading-box {
  margin-top: 15px;
  text-align: center;
}

.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader-content {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.spinner {
  width: 35px;
  height: 35px;
  border: 4px solid #eee;
  border-top: 4px solid #ff4d6d;
  border-radius: 50%;
  margin: 0 auto 10px;
  animation: spin 1s linear infinite;
}

.loader-content p {
  color: #555;
  font-size: 14px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SUCCESS PAGE */
.success {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-card {
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.success-icon {
  font-size: 70px;
  color: green;
  margin-bottom: 20px;
}

.success-text {
  color: #777;
  margin: 15px 0;
}

.gift-icon {
  color: #ff4d6d;
  margin-left: 5px;
}

.continue-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: linear-gradient(145deg, #ff4d6d, #f98197);
  color: white;
  border: 0.5px solid #fc0734;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.continue-btn:hover {
  transform: translateY(-2px);
  color: black;
  box-shadow:
    8px 8px 20px rgba(255, 77, 109, 0.45),
    -8px -8px 20px rgba(255, 255, 255, 0.9);
}

.form-error {
  color: red;
  font-size: 14px;
  margin-top: -5px;
}