* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

/* TABLET (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        left: 0;
    }

    .hero-image img {
        max-width: 320px;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .features-container {
        gap: 20px;
    }

}

/* (max-width: 768px) */
@media (max-width: 768px) {
    .body {
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }

    .menu-icon {
        display: block;
        color: #ff4d6d;
    }

    .nav {
        padding: 15px 20px;
    }

    .links {
        position: fixed;
        top: 70px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 220px;
        padding: 20px;
        gap: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .links.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .home {
        padding: 20px;
    }

    .hero-container {
        max-width: 900px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-image {
        order: 1;
    }

    .hero-text {
        order: 2;
    }

    .hero-btn {
        margin-top: 10px;
    }

    .features,
    .products {
        max-width: 1000px;
        width: 80%;
        padding: 60px 40px;
    }

    .features-container {
        flex-direction: column;
        gap: 5px;
    }

    .why-subtitle,
    .popular-subtitle {
        margin-top: 20px;
    }

    .feature-card {
        width: 350px;
        padding: 25px;
        margin: 20px auto;
    }

    .products-container {
        grid-template-columns: 1fr;
    }

    .product-card {
        width: 350px;
    }

    .product-actions {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .footer {
        padding: 40px;
        border-radius: 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;
    }

    .footer-left {
        width: 50%;
    }

    .footer-logo {
        font-size: 18px;
    }

    .footer-desc {
        font-size: 14px;
        max-width: 100%;
    }

    .footer-right {
        margin-right: 0;
        margin-top: 10px;
        font-size: 13px;
    }

    .footer-center {
        width: 50%;
        align-items: flex-start;
    }

    .newsletter {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .newsletter input {
        width: 60%;
        font-size: 13px;
        padding: 6px;
    }

    .newsletter button {
        width: 40%;
        font-size: 13px;
        padding: 6px;
    }

    .footer-socials {
        gap: 10px;
    }

    .buildgift {
        padding: 30px 15px;
        text-align: center;
    }

    .search-bar {
        width: 100% !important;
    }

    .search-bar input {
        width: 50% !important;
        padding: 10px 40px;
    }

    .search-icon {
        left: 27% !important;
    }

    .buildgift-container {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px;
    }

    .buildgift-card {
        padding: 20px;
    }

    .buildgift-img {
        height: 110px;
    }

    .card-actions {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .qty-wrapper {
        width: 90px !important;
    }

    .qty-wrapper select {
        text-align: center;
    }

    .place-order-btn {
        width: 40%;
    }

    .stars {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cart-total {
        margin-left: 3px;
    }

    .cart-buttons {
        margin-top: 20px;
    }

}

@media (max-width: 500px) {

    .hero-text h1 {
        font-size: 24px;
    }

    .home-container,
    .products-container,
    .features-container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .product-card,
    .feature-card {
        width: 100%;
        max-width: 100%;
        padding: 12px;
        box-sizing: border-box;
    }

    .product-card img,
    .feature-card img {
        width: 80%;
        object-fit: contain;
    }

    .product-card h3 {
        margin-top: 0;
    }

    .search-bar,
    .search-bar input {
        width: 80% !important;
    }

    .search-icon {
        left: 50px !important;
    }

    .clear-icon {
        right: 50px !important;
    }

    .buildgift-container {
        grid-template-columns: 1fr !important;
    }

    .checkout {
        padding: 20px 10px;
    }

    .checkout-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .checkout-summary {
        width: 100%;
        max-width: 100%;
        order: 1;
        padding: 15px;
        text-align: center;
    }

    .checkout-form {
        width: 100%;
        order: 2;
        padding: 15px;
    }

    .checkout-form input,
    .checkout-form textarea {
        width: 100%;
    }

    .place-order-btn {
        width: 30%;
        padding: 12px;
    }

    .summary-total {
        text-align: right;
    }

    .payment-title {
        text-align: left;
        margin: 10px 0;
    }

    .payment-option {
        justify-content: flex-start;
    }

    .payment-input {
        width: 100%;
    }

    .card-fields {
        width: 100%;
    }

    .cart-buttons button {
        width: 50%;
        padding: 5px 8px;
    }

    .footer {
        padding: 25px 15px;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-center {
        width: 100%;
        align-items: center;
    }

    .newsletter {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .newsletter input {
        width: 50%;
        padding: 8px;
    }

    .newsletter button {
        width: 30%;
        padding: 8px;
    }

    .toast {
        width: 100%;
        text-align: center;
    }

    .footer-right {
        margin-top: 15px;
        text-align: center;
    }
}

/* MOBILE (≤480px) */
@media (max-width: 480px) {

    .home,
    .buildgift,
    .footer,
    .auth-container {
        padding: 15px;
    }

    h1,
    h2 {
        font-size: 28px;
    }

    p {
        font-size: 15px;
    }

    .nav {
        padding: 20px 40px;
    }

    .hero-text h1 {
        font-size: 22px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .hero-btn {
        width: 60%;
    }

    .features-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .feature-card {
        width: 100%;
        max-width: 300px;
    }

    .products-container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .product-card {
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }

    .product-actions {
        flex-direction: row;
    }

    .product-card button {
        width: 50%;
        font-size: 13px;
    }

    .search-bar {
        width: 100% !important;
        margin: 0 auto 15px;
    }

    .buildgift-container {
        grid-template-columns: 1fr !important;
    }

    .buildgift-card {
        width: 100%;
        margin: 20px auto;
    }

    .cart {
        max-width: 900px;
    }

    .cart-container {
        width: 90%;
    }

    .cart-buttons {
        flex-direction: column;
    }

    .selected-actions {
        flex-direction: column;
    }

    .checkout {
        padding: 20px 10px;
    }

    .checkout-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .checkout-summary {
        order: 1;
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 15px;
    }

    .checkout-form {
        order: 2;
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }

    .checkout-form input,
    .checkout-form textarea {
        width: 100%;
    }

    .place-order-btn {
        width: 50%;
        padding: 10px;
        margin: 20px auto;
    }

    .summary-total {
        text-align: right;
        font-size: 15px;
    }

    .payment-title {
        text-align: left;
        margin-left: 0;
    }

    .payment-option {
        justify-content: flex-start;
    }

    .payment-input {
        width: 100%;
    }

    .footer {
        padding: 25px 15px;
        text-align: center;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer-left {
        width: 100%;
        text-align: center;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-desc {
        max-width: 100%;
    }

    .footer-center {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .newsletter {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        justify-content: center;
    }

    .newsletter input {
        width: 60%;
        padding: 10px;
    }

    .newsletter button {
        width: 30%;
        padding: 10px;
    }

    .toast {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-top: 0;
    }

    .footer-right {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .footer-socials {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-bottom: 15px;
    }
}

/* SMALL PHONES (≤360px) */
@media (max-width: 360px) {

    .home {
        padding: 20px 10px;
    }

    .image-label {
        position: absolute;
        top: 25px;
        right: 45%;
        padding: 4px 14px;
    }

    .features-title {
        font-size: 20px;
        white-space: nowrap;
    }

    .why-subtitle {
        padding: 0 5px;
    }

    .features-container {
        gap: 15px;
    }

    .feature-card {
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }

    .features,
    .products {
        padding: 30px 10px;
        width: 100%;
    }

    .product-card {
        width: 100%;
        max-width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .product-img-box {
        height: 140px;
    }

    .product-actions {
        flex-direction: row;
        gap: 6px;
    }

    .buildgift h2 {
        font-size: 20px !important;
        margin-bottom: 15px !important;
    }

    .buildgift-subtitle {
        font-size: 14px !important;
    }

    .search-bar {
        width: 100% !important;
        margin: 0 auto 15px !important;
        position: relative !important;
    }

    .search-bar input {
        width: 100% !important;
        font-size: 12px !important;
    }

    .search-icon {
        left: 10px !important;
    }

    .clear-icon {
        right: 10px !important;
    }

    .category-filter {
        display: flex !important;
        gap: 4px !important;
        padding: 0 5px;
        justify-items: center;
    }

    .category-filter button {
        width: 100% !important;
        font-size: 11px;
        padding: 6px 12px !important;
        border-radius: 15px;
        text-align: center;
        white-space: nowrap;
    }

    .buildgift-card {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .buildgift-img img {
        max-width: 90% !important;
        object-fit: contain;
    }

    .card-actions {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
    }

    .select-btn {
        width: 40% !important;
    }

    .view-btn {
        width: 50% !important;
    }

    .wishlist-details {
        display: flex;
        flex-direction: column;
        gap: 0 !important;
    }

    .wishlist-details h3 {
        margin: 0 !important;
        line-height: 1.3 !important;
    }

    .wishlist-details p {
        margin: 10px 0 !important;
    }

    .wishlist-actions {
        flex-direction: column;
        gap: 10px !important;
    }

    .wishlist-actions button {
        width: 70%;
        padding: 6px;
    }

    .cart-item {
        align-items: flex-start;
        gap: 10px;
        padding: 12px;
    }

    .cart-left {
        width: 100%;
        align-items: center;
    }

    .cart-left img {
        width: 80%;
        height: 80%;
        margin: 0;
    }

    .qty-box {
        margin-top: 20px;
    }

    .qty-btn {
        margin-left: 0;
        padding: 5px 10px;
    }

    .cart-details {
        width: 100%;
        align-items: flex-start;
    }

    .stars {
        display: flex;
        gap: 3px;
        margin-top: 10px;
    }

    .cart-details .price {
        margin-top: 10px;
    }

    .cart-buttons {
        margin-top: 15px;
    }

    .cart-buttons button {
        padding: 6px 10px;
    }

    .cart-total {
        display: flex;
    }

    .selected-card {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 8px 10px 30px !important;
    }

    .selected-img {
        width: 90px;
        height: 90px;
    }

    .qty-wrapper {
        position: absolute;
        left: 25px;
        top: 110px;
        width: 90px;
        padding: 4px 6px;
        font-size: 12px;
    }

    .selected-card {
        position: relative;
        padding-bottom: 20px;
    }

    .selected-details {
        flex: 1;
        margin-left: 10px;
    }

    .selected-details h3 {
        margin-bottom: 4px;
    }

    .selected-details .price {
        margin-bottom: 8px;
    }

    .selected-actions {
        display: flex;
        flex-direction: column;
        gap: 6px;
        min-width: 80px;
    }

    .selected-actions button {
        width: 100%;
        font-size: 12px;
        padding: 6px;
    }

    .success-card h2 {
        font-size: 18px;
    }

    .success-text {
        font-size: 13px;
    }

}